/***********************修改密码页面************************************/
*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.containerr{
	height: 1200px;
	position: relative;
	style=" background-repeat:no-repeat ;
	background-size:100%;
	background-attachment: fixed;
	background-image: url("../img/创客整体1.png");

}
a{
	text-decoration: none;
}
#passwd-change{
	margin-left: 38%;
}
#passwd-change ul{
	border: none;
	margin-left:20px;
	height: 630px;
	width: 800px;
	margin-left: 50px;
	padding-top: 50px;
	/* padding-left: 50px; */
	/* background-color: #007BFF */
}
#passwd-change ul li{
	border: none;
	height: 50px;
	width: 600px;
}
#passwd-change ul li button{
	display: block;
	margin-left: 110px;
	border: none;
	border-radius: 10px;
	height: 30px;
	width: 100px;
	background-color:#81c234 ;
	color: #FFFFFF;
	outline: none;
}
#passwd-change ul li span{
	/* width: 160px; */
	height: 30px;
	/* font-size: 16px; */
	/* font-weight: bold; */
	/* line-height: 30px; */
		/* background: red; */
	display: block;
	float: left;
	/* padding-left: 15px; */
}
#passwd-change ul li .span-left{
	width: 160px;
	font-size: 16px;
	line-height: 30px;
}
#passwd-change ul li input{
	width: 220px;
	height: 30px;
	font-size: 16px;
	/* border-radius: 10px; */
	/* font-weight: bold; */
	/* background: yellow; */
	margin-left: 2px;
	display: block;
	float: left;
}
#passwdchange{
background-color: #81c234;
color: #FFFFFF;
}
/* #strength */.default {
	background: #eeeeee;
	line-height: 30px;
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	margin: 4px 2px;
}
#strength .weak {
	background: #FF0000;
	display: inline-block;
	font-size: 16px;
	width: 70px;
	line-height: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 4px 2px;
	}
#strength .medium {
	background: #FF9900;
	display: inline-block;
	font-size: 16px;
	width: 70px;
	line-height: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 4px 2px;
	}
#strength .strong {
	background: #81c234;
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	margin: 4px 2px;
	}
#strength .aaa{
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	background: #ddd;
	line-height: 30px;
	text-align: center;
	margin: 4px 2px;}
.pwdclass{
	width: 200px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	border: 1px solid rgba(129,194,52,0.9);
	background-color: rgba(129,194,52,0.3);
	color:rgb(129,194,52) ;
	text-align: center;
	padding-left: 0;
	margin-left: 10px;
}
.pwdclass2{
	width: 200px;
	height: 30px;
	font-size: 12px;
	line-height: 15px;
	border: 1px solid rgba(129,194,52,0.9);
	background-color: rgba(129,194,52,0.3);
	color:rgb(129,194,52) ;
	text-align: center;
	padding-left: 0;
	margin-left: 10px;
}