#textp{
    position:absolute;top:200px;left: 50px;height: 100px;width: 100px;font-size: 14px
}
#panel{
    position: absolute;top:180px;left: 90px
}
#radaimg{
    height: 450px;width: 1600px;position: absolute;top:650px;left: -100px
}
#gauge{
    height:400px;width:800px;left: -50px;top: 700px;position: absolute
}
#scores{
    height: 400px;width: 800px;position: absolute;top: 700px;left:1000px
}