/*绿绿绿绿按钮*/
body{
    background-image: url(../img/29.jpg);
}
/*.demo{position:absolute;left:auto;top: auto;width:10%; margin:20% auto 0 auto; height:30%;}*/
.demo{position:absolute;left:60%;top: 43%;width:10%; margin:20px auto 0 auto; height:30px;}
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: "华文宋体";
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.small {
    font-size: 11px;
    padding: .2em 1em .275em;
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}


.green {
    color: #ffffff;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffff', endColorstr='#00ffff');
}
.green:hover {
    background: #80BED6;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffff', endColorstr='#00ffff');
}
.green:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}



#rem{position:absolute;left:0%;top:0%;width: 4%;height: 100%}
/*#meacheine_name{left:1200px;top:5px;font-size:32px;font-family: "华文宋体";color: #ffffff;}*/
/*#datetime{left:2000px;top:5px;color: white;font-size: x-large}*/
.shortcut {
	height: 31px;
	background-color: #f1f1f1;
	line-height: 31px;
}


data #leftNav{position:absolute;left:33%;top:38%;width: 30%;height: 5%}
data div ul li{/*导航样式*/display: inline-block}
data div ul li a{color: black}
data #lintable1,#lintable2{position:absolute;left:30%;top:48%;width: 40%;height: 50%}

header #backheader{position: absolute;left:0;top:0;height: 80px;width:1000px;background-color:black;z-index: -99999}

body #pie{left:600px;top:5px;height: 600px;width: 600px}
body pie #pie1{left:600px;top:-50px;height: 600px;width: 320px;}
body pie #pie2{left:1000px;top:-650px;height: 600px;width: 320px;}


#para{position:absolute;left:1500px;top:40px;height: 200px;width: 500px}
#para tr th{font-family: "华文宋体";color:  #aaaa00;font-weight: bold;font-size: 1em;}
#para tr td{font-family: "华文宋体";color:  #3398DB;font-weight: bolder;font-size: 1em;}
body paramter table{height: 100%;width: 100%;}
body paramter table td{text-align: center;}

#surf_list{position:absolute;left:1400px;top:300px;height:300px;width: 500px}
/*#surf_rate1{position:absolute;left:75%;top:62%;height: 300px;width: 400px}*/

#count{position:absolute;left:75%;top:52%;height: 10%;width: 25%}
#count h{font-family: "华文宋体";color: #3398DB;font-weight: bolder;font-size: x-large;}

#timetool{position:absolute;left:15px;top:60px;height: 320px;width: 650px;}
/*#toolwear{position:absolute;left:2%;top:35%;height: 25%;width: 25%;}*/

#toolhealth{position:absolute;left:15px;top:650px;height: 400px;width: 600px}

#coumt_txt{position:relative;left:30%;top:60%;font-size:large}
#count_num{font-size:xx-large;color: #3398DB}

#Navigation_bar{position: absolute;left:0;top:0;height: 10%;width: 100%;background-color:black}
.item{position:absolute;left:45%;top:10%;color: white;font-size: xx-large}


#navigation
{
    list-style-type:none;
    margin:0;
    padding:0;
    padding-top:20px;

    background-color: black;
}
#navigation li
{
    display:inline;
}
#navigation li a:link,#navigation li a:visited
{

    font-family: "华文宋体";
	color: #ffffff;
    background-color:black;
    text-align:center;
    padding:6px;
    text-decoration:none;
    text-transform:uppercase;
}
#navigation li a:hover,#navigation li a:active
{

    background-color:#80bed6;
}

