#container {
	position: absolute;
	top: 250px;
	left: 900px;
	width: 600px;
	height: 400px;
	overflow: hidden;
}

#photo {
	width: 1800px;
	animation: switch 5.5s ease-out infinite;
}

#photo > img {
	float: left;
	width: 600px;
	height: 400px;
}

@keyframes switch {
	0%, 25% {
		margin-left: 0;
	}
	35%, 60% {
		margin-left: -600px;
	}
	70%, 100% {
		margin-left: -1200px;
	}
}