#table_div{width:100%;height:45%;}
.wrong_table{width:50%;height:45%;background-color: #f47a20;float: left}
#wrong_charts{width:100%;height:45%;}
.warm_table{width:50%;height:45%;background-color: #007ead;float: left}
.wrong_char{width:50%;height:45%;background-color: #538018;float: left}
.warm_char{width:50%;height:45%;background-color: rebeccapurple;float: left}