 {%extends "base.html"  %}
{% block title %}Flask{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">总订单信息</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/templates/index_new.html">首页</a></li>
                <li><a href="/templates/index_new.html">返回上一页</a></li>
                <li><a href="/templates/ordersim_main_add.html">添加订单信息</a></li>
                <li><a href="/templates/ordersim_delet_one.html">删除订单信息</a></li>
                <li><a href="/templates/ordersim_change_one.html">修改订单信息</a></li>
                <li><a href="/templates/ordersim_query_all.html">查询订单信息</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  {% block page_content %}{% endblock %}
</div>
{% endblock %}