<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>实时数据展示</title>
   <link href="../static/css/computer_P_image_com.css" rel='stylesheet' type='text/css' media="screen and (min-width: 480px)">
    <link href="../static/css/computer_P_image_Phone.css" rel='stylesheet' type='text/css' media="screen and (max-width: 479px)">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="nav navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../templates/predict_workpiece_index.html">数据分析</a>  <!--返回的是app.route中的‘/**地址’>
                <-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="flood-color: white"><a href="../templates/index_new.html">主页</a></li>
                    <li style="flood-color: white"><a href="../templates/computer_P_image.html">当前设备功率P</a></li>
                    <li style="flood-color: white"><a href="../templates/computer_I_image.html">当前设备电流I</a></li>
                    <li style="flood-color: white"><a href="../templates/computer_U_image.html">当前设备电压U</a></li>
                </ul>

            </div>
        </div>
    </div>
<canvas id="panel"> </canvas>
<div class="page-header">
    <h1>设备实时电压图</h1>
</div>
<div id="textp">
        电流U
</div>
<canvas id="panel"> </canvas>
<div  id="radaimg" ></div>
<div id="gauge"></div>
<div class="page-header" style="position: absolute;top: 60%;width: 100%">
    <h1>设备参数权值分析</h1>
</div>
{#<img id="FZUimg" src="../static/img/校标透明70(已去底).jpg" style="width: auto;height:auto;position: absolute;top: 98%;left: 53%;z-index: -99"/>#}
<div id ="scores"></div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/Chart.js/1.1.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src-min-noconflict/ace.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dat.gui@0.6.5/build/dat.gui.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/apache/echarts-website@asf-site/examples/js/example-bundle.js?_v_=4ed28896a8"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/Chart.js/1.1.0/Chart.min.js"></script>
<!--导入jQuery-->
<script>
    var chartDom = document.getElementById('radaimg');
    var myChart = echarts.init(chartDom);
    var windowWidth = $(window).width();
    if(windowWidth >= 480){
        panel = document.getElementById('panel')
            panel.width = 1450
            panel.height = 400
             option = {
        tooltip: {
        },
       title: {
           text: '权重分配',
           left: '58%',
           top:'12%'
       },
        legend: {
            left:'65%',
            top:'20%',
            data: ['占比权值（Proportion weight）'],
        },
        radar: {
            // shape: 'circle',
            name: {
                textStyle: {
                    color: '#fff',
                    backgroundColor: '#999',
                    borderRadius: 3,
                    padding: [3, 5]
                        }
            },
            indicator: [
                { name: '总有功功率', max: 10000},
                { name: '平均电压', max: 10000},
                { name: '平均电流', max: 10000},
                { name: '总功率因素', max: 10000},
            ],
            center: ['61%', '55%'],
            radius: 120
        },
        series: [{
            type: 'radar',
            areaStyle: {normal: {}},
            data: [
                {
                    value: [7500, 5200, 7500,4200],
                    name: '占比权值（Proportion weight）',
                }
            ]
        }]
    };
             option && myChart.setOption(option);
    }
    if(windowWidth < 480){
        panel = document.getElementById('panel')
        panel.width = 360
        panel.height = 250
        option = {
        tooltip: {
        },
       title: {
           text: '权重分配',
           left: '58%',
           top:'12%'
       },
        legend: {
            left:'65%',
            top:'20%',
            data: ['占比权值'],
        },
        radar: {
            // shape: 'circle',
            name: {
                textStyle: {
                    color: '#fff',
                    backgroundColor: '#999',
                    borderRadius: 3,
                    padding: [3, 5]
                        }
            },
            indicator: [
                { name: '总有功功率', max: 10000},
                { name: '平均电压', max: 10000},
                { name: '平均电流', max: 10000},
                { name: '总功率因素', max: 10000},
            ],
            center: ['50%', '50%'],
            radius: 65
        },
        series: [{
            type: 'radar',
            areaStyle: {normal: {}},
            data: [
                {
                    value: [7500, 5200, 7500,4200],
                    name: '占比权值',
                }
            ]
        }]
    };
option && myChart.setOption(option);
    }
    var chartDom1 = document.getElementById('gauge');
    var chartDom2 = document.getElementById("scores")
    var mychart1 = echarts.init(chartDom1);
    var myChart2 = echarts.init(chartDom2);
    var option;
    var option1;
    var option2;
    {#得分图#}
    $(function () {
           var int = setInterval(function () {
            $.ajax({
                    url:"/setData2/", //从setData函数中获取数据
                   type:"get",
                   data:"",

                success:function (data2) {
                        var option2 = {
            series: [{
                type: 'gauge',
                startAngle: 180,
                endAngle: 0,
                min: 0,
                max: 1,
                splitNumber: 8,
                axisLine: {
                    lineStyle: {
                        width: 6,
                        color: [
                            [0.25, '#FF6E76'],
                            [0.5, '#FDDD60'],
                            [0.75, '#58D9F9'],
                            [1, '#7CFFB2']
                        ]
                    }
                },
                pointer: {
                    icon: 'path://M12.8,0.7l12,40.1H0.7L12.8,0.7z',
                    length: '12%',
                    width: 20,
                    offsetCenter: [0, '-50%'],
                    itemStyle: {
                        color: 'auto'
                    }
                },
                axisTick: {
                    length: 12,
                    lineStyle: {
                        color: 'auto',
                        width: 2
                    }
                },
                splitLine: {
                    length: 20,
                    lineStyle: {
                        color: 'auto',
                        width: 5
                    }
                },
                axisLabel: {
                    color: '#464646',
                    fontSize: 20,
                    distance: -60,
                    formatter: function (value) {
                        if (value === 0.875) {
                            return '优';
                        } else if (value === 0.625) {
                            return '中';
                        } else if (value === 0.375) {
                            return '良';
                        } else if (value === 0.125) {
                            return '差';
                        }
                    }
                },
                title: {
                    offsetCenter: [0, '-20%'],
                    fontSize: 30
                },
                detail: {
                    fontSize: 50,
                    offsetCenter: [0, '10%'],
                    valueAnimation: true,
                    formatter:setInterval(function (value) {
                        return Math.round(Math.random()*10 + value*100) + '分'
                        {#if (value <= 20) {#}
                        {#    return Math.round(4.5*Math.round(value)) + '分'}#}
                        {#if (20<value<=30){#}
                        {#    return Math.round(2.5*Math.round(value)) +'分'#}
                        {# }#}
                        {#if (30<value<=40){#}
                        {#    return Math.round(2.4*Math.round(value)) +'分'#}
                        {# }#}
                        {#if (40<value<=50){#}
                        {#    return Math.round(1.8*Math.round(value)) +'分'#}
                        {# }#}
                        {#if (50<value<=60){#}
                        {#    return Math.round(1.5*Math.round(value)) +'分'#}
                        {# }#}
                        {#if (60<value<=70){#}
                        {#    return Math.round(1.4*Math.round(value)) +'分'#}
                        {# }#}
                        {#if (70<value<=80){#}
                        {#    return Math.round(1.2*Math.round(value)) +'分'#}
                        {# }#}
                        {#if (80<value<=90){#}
                        {#    return Math.round(Math.round(value)) +'分'#}
                        {# }#}
                        {#if (100>=value>90){#}
                        {#    return Math.round(0.9*Math.round(value)) +'分'#}
                        {# }#}
                        {#if (100<value){#}
                        {#    return Math.round(0.66*Math.round(value)) +'分'#}
                        {# }#}
                    },1000),
                    color: 'auto'
                },
                data: [{
                    value: Math.round(Math.random()*10 + 0.9*100),
                    name: '设备状态评分'
                }]
            }]
        };
          option2 && myChart2.setOption(option2);
                    }
            })
        },1000)
    })
    {#三环得分图#}
    option1 = {
      title: {
            text: '设备参数实时监控',
            left: 'center',
            top:'5%'
        },
    series: [{
        type: 'gauge',
        startAngle: 90,
        endAngle: -270,
        pointer: {
            show: false
        },
        progress: {
            show: true,
            overlap: false,
            roundCap: true,
            clip: false,
            itemStyle: {
                borderWidth: 1,
                borderColor: '#464646'
            }
        },
        axisLine: {

            lineStyle: {
                width: 40
            }
        },
        splitLine: {
            show: false,
            distance: 0,
            length: 10
        },
        axisTick: {
            show: false
        },
        axisLabel: {
            show: false,
            distance: 50
        },
        data: [{
            value: 20,
            name: '设备功率实时监控',
            title: {
                offsetCenter: ['0%', '-40%']
            },
            detail: {
                offsetCenter: ['0%', '-25%']
            }
        },
        {
            value: 40,
            name: '设备电流实时监控',
            title: {
                offsetCenter: ['0%', '-7%']
            },
            detail: {
                offsetCenter: ['0%', '10%']
            }
        },
        {
            value: 60,
            name: '设备电压实时监控',
            title: {
                offsetCenter: ['0%', '28%']
            },
            detail: {
                offsetCenter: ['0%', '42%']
            }
        }
        ],
        title: {
            fontSize: 14
        },
        detail: {
            width: 50,
            height: 10,
            fontSize: 14,
            color: 'auto',
            borderColor: 'auto',
            borderRadius: 20,
            borderWidth: 1,
            formatter: '{value}'
        }
    }]
};

setInterval(function () {
    $.ajax(
               {
                   url:"/setDataP/", //从setData函数中获取数据
                   type:"get",
                   data1:"",
                   data2:"",
                   data3:"",
                   success:function (data1) {
                       option1.series[0].pointer.show = false;
                       option1.series[0].data[0].value = [data1["data3"]];
                       option1.series[0].data[1].value = [data1["data2"]];
                       option1.series[0].data[2].value = [data1["data1"]];
                       mychart1.setOption(option1, true);
                                              }
               }
        )
           }, 1000)
    {##雷达图#}
    $(function () {
        var can = $('#panel').get(0).getContext('2d');

        var canData = {
            labels: ["0"], /*初始x轴数据*/
            datasets: [
                {
                    //折线的填充颜色
                    fillColor: "rgba(255,204,0,0.1)",
                    //线条颜色：
                    strokeColor: "rgba(255,204,0,1)",
                    //y轴初始数据：
                    data: [0]
                }
            ]
        };
        var line = new Chart(can).Line(canData);

        var int = setInterval(function () {//设置定时器
           $.ajax(
               {
                   url:"/setDataU/", //从setData函数中获取数据
                   type:"get",
                   data:"",
                   success:function (data) {
                           line.addData(
                           [data["data"]], //y轴，因为同一个x轴可以有多个折线
                           data["time"]  //x轴
                       );
                       //保持x轴只有8个数据，要不随着时间推移x轴会越来越长
                       var len = line.datasets[0].points.length;
                       if(len>10){
                           line.removeData()
                       }
                   }
               }
           )

        },1000)

    })



</script>
</body>
</html>