<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>login</title>
		<link type="text/css"  rel="stylesheet" href="../static/css/login.css" />

	</head>
	<script src="js/login.js">
	</script>
	<body class="containerr">
	<div class="header">
		<img width="150" height="60" style="position: absolute; margin-left: 50px" src="../static/img/福州大学校标(已去底)%20(1).png">
	</div>
	<form class="mianlogin" action="index.html" method="post">
		<h1 style="position: absolute;margin-left: 350px;margin-top: 220px">
			数据平台账号登录
		</h1>
		<div style="position: absolute;margin-top: 380px;margin-left: 220px">
			<h1 style="position: absolute;margin-left: 0px;margin-top: -50px;font-size: 28px;font-family: 宋体;color:black">
				账户：
			</h1>
			<input style="width: 546px;height: 40px;font-size: 22px;
				background-color: whitesmoke;border: 0px;border-radius:7px;"
				   type="text" name="user" value=""/>
		</div>
		<div style="position: absolute;margin-top: 500px;margin-left: 220px">
			<h1 style="position: absolute;margin-left: 0px;margin-top: -50px;font-size: 28px;font-family: 宋体;color:black">
				密码：
			</h1>
			<input style="width: 546px;height: 40px;font-size: 22px;
				background-color: whitesmoke;border: 0px;border-radius:7px;"
				   type="password" name="user" value=""/>
		</div>
		<input type="submit" name="login" value="登录" style="position: absolute;margin-top: 580px;
			margin-left: 700px;width: 70px;height: 40px;color: black;border: 0px;background-color: #8FBC8F;
			border-radius:2px;font-size: 18px" >

	</form>
	</body>
</html>
