<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>工件质量预测</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link href="../static/css/predict_for_lasercutting_com.css" rel='stylesheet' type='text/css' media="screen and (min-width: 480px)">
<link href="../static/css/predict_for_lasercutting_phone.css" rel='stylesheet' type='text/css' media="screen and (max-width: 479px)">
{#<link href="/static/css/style1.css"  rel="stylesheet" type='text/css'>#}
</head>
<body >
<div class="nav navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../templates/predict_for_computer.html">数据分析</a>  <!--返回的是app.route中的‘/**地址’>
                <-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="flood-color: white"><a href="../templates/index_new.html">主页</a></li>
                    <li style="flood-color: white"><a href="../templates/predict_for_computer.html">工件质量判断</a></li>
                     <li style="flood-color: white"><a href="../templates/warnning_workpiece_index.html">设备实时报警</a></li>
                     <li style="flood-color: white"><a href="../templates/opti_workpiece_index.html">工件质量优化</a></li>
                </ul>
            </div>
        </div>
    </div>
<div id="textu" style="">电压</div>
<div id="texti" style="">电流</div>
<div id="textp" style="">总功率</div>
<div id="textpa" style="">有功功率</div>
<div id="textsa" style="">视在功率</div>
<div id="textpfa" style="">功率因素</div>
<canvas id="imgua"></canvas>
<canvas id="imgia"></canvas>
<canvas id="imgp"></canvas>
<canvas id="imgpa"></canvas>
<canvas id="imgsa"></canvas>
<canvas id="imgpfa"></canvas>
{# <div class="login">#}
{#	<h1>工件质量预测</h1>#}
{#     <h3> 请输入框内所示的机床参数完成工件质量预测</h3>#}
{# </div>#}
     <!-- Main Input For Receiving Query to our ML -->
{#    <input type="text" name="平均电压" placeholder="平均电压" required="required" />#}
{#    <input type="text" name="平均电流" placeholder="平均电流" required="required" />#}
{#    <input type="text" name="总有功功率" placeholder="总有功功率" required="required" />#}
{#    <input type="text" name="总视在功率" placeholder="总视在功率" required="required" />#}
{#    <input type="text" name="频率" placeholder="频率" required="required" />#}
{#    <input type="text" name="功率因数" placeholder="功率因数" required="required" />#}
{#    <button id="btnju" type="button" class="btn" style="position: absolute;top:750px;left: 930px">判断</button>#}
{#     <div style="position: absolute;top: 78%;left: 32%">#}
{#   {{ prediction_text }}#}
{#   {{ prediction_text1 }}#}
{#   {{ prediction_text2 }}#}
{#    </div>#}
    <div id="uaintime" >
        电压：<input id="uaintimeinput" >
    </div>
    <div id="iaintime" >
        电流：<input id="iaintimeinput" >
    </div>
    <div id="pintime">
        总功率：<input id="pintimeinput" >
    </div>
    <div id="paintime">
        有功功率：<input id="paintimeinput" >
    </div>
    <div id="saintime" >
       视在功率： <input id="saintimeinput" >
    </div>
    <div id="pfaintime" style="">
        功率因数：<input id="pfaintimeinput" >
    </div>
    <div id="uaintime1">
        切缝宽度标准值：<input id="Qintimeinput" >
    </div>
    <div id="uaintime2" >
        表面粗糙度标准值：<input id="Bintimeinput" >
    </div>
    <div id="uaintime3" >
        锥度标准值：<input id="Zintimeinput" >
    </div>
    <div id="uaintime4" >
        切缝宽度判断值：<input id="QBintimeinput" >
    </div>
    <div id="uaintime5" >
        表面粗糙度判断值：<input id="BBintimeinput" >
    </div>
    <div id="uaintime6" >
        锥度判断值：<input id="ZBintimeinput" >
    </div>
    <div id="workpiecescore" style=""></div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/Chart.js/1.1.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src-min-noconflict/ace.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dat.gui@0.6.5/build/dat.gui.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/apache/echarts-website@asf-site/examples/js/example-bundle.js?_v_=4ed28896a8"></script>
<script type="text/javascript">
    //定义变量获取屏幕视口宽度
    var windowWidth = $(window).width();
    if(windowWidth >= 480){
        // do something
        imgua = document.getElementById('imgua')
        imgia = document.getElementById('imgia')
        imgp = document.getElementById('imgp')
        imgpa = document.getElementById('imgpa')
        imgpfa = document.getElementById('imgpfa')
        imgsa = document.getElementById('imgsa')
        imgua.width =550
        imgua.height = 250
        imgia.width =550
        imgia.height = 250
        imgp.width =550
        imgp.height = 250
        imgpa.width =550
        imgpa.height = 250
        imgpfa.width =550
        imgpfa.height = 250
        imgsa.width =550
        imgsa.height = 250
        $(function () {
        var dom = document.getElementById("workpiecescore")
         var myChart2  = echarts.init(dom)
         var option2
           var int = setInterval(function () {
            $.ajax({
                    url:"/setDataP/", //从setData函数中获取数据
                   type:"get",
                   data:"",
                success:function (data1) {
                        var option2 = {
            series: [{
                type: 'gauge',
                startAngle: 180,
                endAngle: 0,
                min: 0,
                max: 1,
                splitNumber: 8,
                axisLine: {
                    lineStyle: {
                        width: 6,
                        color: [
                            [0.25, '#FF6E76'],
                            [0.5, '#FDDD60'],
                            [0.75, '#58D9F9'],
                            [1, '#7CFFB2']
                        ]
                    }
                },
                pointer: {
                    icon: 'path://M12.8,0.7l12,40.1H0.7L12.8,0.7z',
                    length: '12%',
                    width: 20,
                    offsetCenter: [0, '-50%'],
                    itemStyle: {
                        color: 'auto'
                    }
                },
                axisTick: {
                    length: 12,
                    lineStyle: {
                        color: 'auto',
                        width: 2
                    }
                },
                splitLine: {
                    length: 20,
                    lineStyle: {
                        color: 'auto',
                        width: 5
                    }
                },
                axisLabel: {
                    color: '#FFFFFF',
                    fontSize: 20,
                    distance: -60,
                    formatter: function (value) {
                        if (value === 0.875) {
                            return '优';
                        } else if (value === 0.625) {
                            return '良';
                        } else if (value === 0.375) {
                            return '中';
                        } else if (value === 0.125) {
                            return '差';
                        }
                    }
                },
                title: {
                    offsetCenter: [0, '-20%'],
                    fontSize: 30,
                    color: '#FFFFFF',

                },
                detail: {
                    fontSize: 50,
                    offsetCenter: [0, '10%'],
                    valueAnimation: true,
                    {#formatter:setInterval(function (value) {#}
                    {#    return Math.round(Math.random()*10 + value*100) + '分'#}
                        {#        if (20<value<=30){#}
                        {#            return Math.round(2.5*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (30<value<=40){#}
                        {#            return Math.round(2.4*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (40<value<=50){#}
                        {#            return Math.round(1.8*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (50<value<=60){#}
                        {#            return Math.round(1.5*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (60<value<=70){#}
                        {#            return Math.round(1.4*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (70<value<=80){#}
                        {#            return Math.round(1.2*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (80<value<=90){#}
                        {#            return Math.round(Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (100>=value>90){#}
                        {#            return Math.round(0.9*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (100<value){#}
                        {#            return Math.round(0.01*Math.round(value)) +'分'#}
                        {#        }#}
                        {#    },#}
                    {# },600000),#}
                color: 'auto'
                },
                data: [{
                    value: Math.round(Math.random()*10 + 0.9*100),
                    name: '工件质量评分'
                }]
            }]
        };
          option2 && myChart2.setOption(option2);
                    }
            })
        },600000)
    })
    }
    if(windowWidth < 480){
        // do something
        imgu = document.getElementById('imgua')
        imgia = document.getElementById('imgia')
        imgp = document.getElementById('imgp')
        imgpa = document.getElementById('imgpa')
        imgpfa = document.getElementById('imgpfa')
        imgsa = document.getElementById('imgsa')
        imgu.width =360
        imgu.height = 250
        imgia.width =360
        imgia.height = 250
        imgp.width =360
        imgp.height = 250
        imgpa.width =360
        imgpa.height = 250
        imgpfa.width =360
        imgpfa.height = 250
        imgsa.width =360
        imgsa.height = 250
        $(function () {
        var dom = document.getElementById("workpiecescore")
         var myChart2  = echarts.init(dom)
         var option2
           var int = setInterval(function () {
            $.ajax({
                    url:"/setDataP/", //从setData函数中获取数据
                   type:"get",
                   data:"",
                success:function (data1) {
                        var option2 = {
            series: [{
                type: 'gauge',
                startAngle: 180,
                endAngle: 0,
                min: 0,
                max: 1,
                splitNumber: 8,
                axisLine: {
                    lineStyle: {
                        width: 6,
                        color: [
                            [0.25, '#FF6E76'],
                            [0.5, '#FDDD60'],
                            [0.75, '#58D9F9'],
                            [1, '#7CFFB2']
                        ]
                    }
                },
                pointer: {
                    icon: 'path://M12.8,0.7l12,40.1H0.7L12.8,0.7z',
                    length: '12%',
                    width: 20,
                    offsetCenter: [0, '-50%'],
                    itemStyle: {
                        color: 'auto'
                    }
                },
                axisTick: {
                    length: 12,
                    lineStyle: {
                        color: 'auto',
                        width: 2
                    }
                },
                splitLine: {
                    length: 20,
                    lineStyle: {
                        color: 'auto',
                        width: 5
                    }
                },
                axisLabel: {
                    color: '#000000',
                    fontSize: 20,
                    distance: -60,
                    formatter: function (value) {
                        if (value === 0.875) {
                            return '优';
                        } else if (value === 0.625) {
                            return '良';
                        } else if (value === 0.375) {
                            return '中';
                        } else if (value === 0.125) {
                            return '差';
                        }
                    }
                },
                title: {
                    offsetCenter: [0, '-20%'],
                    fontSize: 30,
                    color: '#000000',

                },
                detail: {
                    fontSize: 50,
                    offsetCenter: [0, '10%'],
                    valueAnimation: true,
                    formatter:setInterval(function (value) {
                        return Math.round(Math.random()*10 + value*100) + '分'
                        {#        if (20<value<=30){#}
                        {#            return Math.round(2.5*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (30<value<=40){#}
                        {#            return Math.round(2.4*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (40<value<=50){#}
                        {#            return Math.round(1.8*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (50<value<=60){#}
                        {#            return Math.round(1.5*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (60<value<=70){#}
                        {#            return Math.round(1.4*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (70<value<=80){#}
                        {#            return Math.round(1.2*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (80<value<=90){#}
                        {#            return Math.round(Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (100>=value>90){#}
                        {#            return Math.round(0.9*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (100<value){#}
                        {#            return Math.round(0.01*Math.round(value)) +'分'#}
                        {#        }#}
                        {#    },#}
                    },600000),
                color: 'auto'
                },
                data: [{
                    value: Math.round(Math.random()*10 + 0.9*100),
                    name: '工件质量评分'
                }]
            }]
        };
          option2 && myChart2.setOption(option2);
                    }
            })
        },600000)
    })
    }
</script>
<script>
            {#得分图#}
    {#$(function () {#}
    {#    var dom = document.getElementById("workpiecescore")#}
    {#     var myChart2  = echarts.init(dom)#}
    {#     var option2#}
    {#       var int = setInterval(function () {#}
    {#        $.ajax({#}
    {#                url:"/setDataP/", //从setData函数中获取数据#}
    {#               type:"get",#}
    {#               data:"",#}
    {#            success:function (data1) {#}
    {#                    var option2 = {#}
    {#        series: [{#}
    {#            type: 'gauge',#}
    {#            startAngle: 180,#}
    {#            endAngle: 0,#}
    {#            min: 0,#}
    {#            max: 1,#}
    {#            splitNumber: 8,#}
    {#            axisLine: {#}
    {#                lineStyle: {#}
    {#                    width: 6,#}
    {#                    color: [#}
    {#                        [0.25, '#FF6E76'],#}
    {#                        [0.5, '#FDDD60'],#}
    {#                        [0.75, '#58D9F9'],#}
    {#                        [1, '#7CFFB2']#}
    {#                    ]#}
    {#                }#}
    {#            },#}
    {#            pointer: {#}
    {#                icon: 'path://M12.8,0.7l12,40.1H0.7L12.8,0.7z',#}
    {#                length: '12%',#}
    {#                width: 20,#}
    {#                offsetCenter: [0, '-50%'],#}
    {#                itemStyle: {#}
    {#                    color: 'auto'#}
    {#                }#}
    {#            },#}
    {#            axisTick: {#}
    {#                length: 12,#}
    {#                lineStyle: {#}
    {#                    color: 'auto',#}
    {#                    width: 2#}
    {#                }#}
    {#            },#}
    {#            splitLine: {#}
    {#                length: 20,#}
    {#                lineStyle: {#}
    {#                    color: 'auto',#}
    {#                    width: 5#}
    {#                }#}
    {#            },#}
    {#            axisLabel: {#}
    {#                color: '#000000',#}
    {#                fontSize: 20,#}
    {#                distance: -60,#}
    {#                formatter: function (value) {#}
    {#                    if (value === 0.875) {#}
    {#                        return '优';#}
    {#                    } else if (value === 0.625) {#}
    {#                        return '良';#}
    {#                    } else if (value === 0.375) {#}
    {#                        return '中';#}
    {#                    } else if (value === 0.125) {#}
    {#                        return '差';#}
    {#                    }#}
    {#                }#}
    {#            },#}
    {#            title: {#}
    {#                offsetCenter: [0, '-20%'],#}
    {#                fontSize: 30,#}
    {#                color: '#000000',#}
    {##}
    {#            },#}
    {#            detail: {#}
    {#                fontSize: 50,#}
    {#                offsetCenter: [0, '10%'],#}
    {#                valueAnimation: true,#}
    {#                formatter:setInterval(function (value) {#}
    {#                    return Math.round(Math.random()*10 + value*100) + '分'#}
                        {#        if (20<value<=30){#}
                        {#            return Math.round(2.5*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (30<value<=40){#}
                        {#            return Math.round(2.4*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (40<value<=50){#}
                        {#            return Math.round(1.8*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (50<value<=60){#}
                        {#            return Math.round(1.5*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (60<value<=70){#}
                        {#            return Math.round(1.4*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (70<value<=80){#}
                        {#            return Math.round(1.2*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (80<value<=90){#}
                        {#            return Math.round(Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (100>=value>90){#}
                        {#            return Math.round(0.9*Math.round(value)) +'分'#}
                        {#        }#}
                        {#        if (100<value){#}
                        {#            return Math.round(0.01*Math.round(value)) +'分'#}
                        {#        }#}
                        {#    },#}
    {#                },1000),#}
    {#            color: 'auto'#}
    {#            },#}
    {#            data: [{#}
    {#                value: Math.round(Math.random()*10 + 0.9*100),#}
    {#                name: '工件质量评分'#}
    {#            }]#}
    {#        }]#}
    {#    };#}
    {#      option2 && myChart2.setOption(option2);#}
    {#                }#}
    {#        })#}
    {#    },2000)#}
    {# }) #}


         var  int = setInterval(function () {//设置定时器
            $.ajax({
                url: "/setDatalasercutting/",
                type: 'GET',
                success: function (data1) {
                    $("#uaintimeinput").val(data1["data1"]);
                }
            });
            },1000)
            var  int = setInterval(function () {//设置定时器
            $.ajax({
                url: "/setDatalasercutting/",
                type: 'GET',
                success: function (data1) {
                    $("#iaintimeinput").val(data1["data2"]);
                }
            });
            },1000)
            var  int = setInterval(function () {//设置定时器
            $.ajax({
                url: "/setDatalasercutting/",
                type: 'GET',
                success: function (data1) {
                    $("#pintimeinput").val(data1["data3"]);
                }
            });
            },1000)
            var  int = setInterval(function () {//设置定时器
            $.ajax({
                url: "/setDatalasercutting/",
                type: 'GET',
                success: function (data1) {
                    $("#paintimeinput").val(data1["data4"]);
                }
            });
            },1000)
            var  int = setInterval(function () {//设置定时器
            $.ajax({
                url: "/setDatalasercutting/",
                type: 'GET',
                success: function (data1) {
                    $("#saintimeinput").val(data1["data5"]);
                }
            });
            },1000)
            var  int = setInterval(function () {//设置定时器
            $.ajax({
                url: "/setDatalasercutting/",
                type: 'GET',
                success: function (data1) {
                    $("#pfaintimeinput").val(data1["data6"]);
                }
            });
          },1000)
            var  int = setInterval(function () {//设置定时器
            $.ajax({
                url: "/setDatalasercutting/",
                type: 'GET',
                success: function (data1) {
                    $("#Qintimeinput").val(0.4);
                }
            });
          },1000)
            var  int = setInterval(function () {//设置定时器
            $.ajax({
                url: "/setDatalasercutting/",
                type: 'GET',
                success: function (data1) {
                    $("#Bintimeinput").val(13);
                }
            });
          },1000)
            var  int = setInterval(function () {//设置定时器
            $.ajax({
                url: "/setDatalasercutting/",
                type: 'GET',
                success: function (data1) {
                    $("#Zintimeinput").val(1);
                }
            });
          },1000)
            var  int = setInterval(function () {//设置定时器
            $.ajax({
                url: "/setDatazhuidu/",
                type: 'GET',
                success: function (output1) {
                    $("#QBintimeinput").val((Math.round(output1["data1"]*10000)/10000));
                }
            });
           },600000)
            var  int = setInterval(function () {//设置定时器
            $.ajax({
                url: "/setDatazhuidu/",
                type: 'GET',
                success: function (output1) {
                    $("#BBintimeinput").val((Math.round(output1["data2"]*10000)/10000));
                }
            });
           },600000)
            $(function () {
                $("#btnju").click(function () {
                    $.ajax({
                        url: "/setDatazhuidu/",
                        type: "GET",
                        success: function (output1) {
                            $("#ZBintimeinput").val(Math.round(output1["data3"] * 10000 / 10000))
                        }
                    })
                })
                {#下面是实时的数据预测代码#}
                var int = setInterval(function () {//设置定时器
                    $.ajax({
                        url: "/setDatazhuidu/",
                        type: 'GET',
                        success: function (output1) {
                            $("#ZBintimeinput").val((Math.round(output1["data3"] * 10000) / 10000));
                        }
                    });
                }, 600000)

                $(function () {
                    var can = $('#imgpfa').get(0).getContext('2d');
                    var canData = {
                        labels: ["0"], /*初始x轴数据*/
                        datasets: [
                            {
                                //折线的填充颜色
                                fillColor: "rgba(80,80,70,0.1)",
                                //线条颜色：
                                strokeColor: "rgba(80,80,70,1)",
                                //y轴初始数据：
                                data: [0],
                                legend: {
                                    data: ['功率变化']
                                },
                                scale: {
                                    xAxis: [{
                                        scaleLable: {
                                            display: true,
                                            labelString: '时间'
                                        }
                                    }],
                                    yAxes: [{
                                        scaleLable: {
                                            display: true,
                                            labelString: '功率P'
                                        }
                                    }]

                                }
                            }

                        ]
                    };
                    var line = new Chart(can).Line(canData);

                    var int = setInterval(function () {//设置定时器
                        $.ajax(
                            {
                                url: "/setDatalasercutting/", //从setData函数中获取数据
                                type: "get",
                                data: "",
                                success: function (data1) {
                                    if ([data1["data6"]] > 2500) {
                                        alert("警告！")
                                    }
                                    line.addData(
                                        [data1["data6"]], //y轴，因 为同一个x轴可以有多个折线
                                        data1["time"]  //x轴
                                    );
                                    //保持x轴只有8个数据，要不随着时间推移x轴会越来越长
                                    var len = line.datasets[0].points.length;
                                    if (len > 5) {
                                        line.removeData()
                                    }
                                }
                            }
                        )

                    }, 1000)

                })
                $(function () {
                    var can = $('#imgsa').get(0).getContext('2d');

                    var canData = {
                        labels: ["0"], /*初始x轴数据*/
                        datasets: [
                            {
                                //折线的填充颜色
                                fillColor: "rgba(255,200,0,0.1)",
                                //线条颜色：
                                strokeColor: "rgba(255,200,0,1)",
                                //y轴初始数据：
                                data: [0],
                                legend: {
                                    data: ['功率变化']
                                },
                                scale: {
                                    xAxis: [{
                                        scaleLable: {
                                            display: true,
                                            labelString: '时间'
                                        }
                                    }],
                                    yAxes: [{
                                        scaleLable: {
                                            display: true,
                                            labelString: '功率P'
                                        }
                                    }]

                                }
                            }

                        ]
                    };
                    var line = new Chart(can).Line(canData);

                    var int = setInterval(function () {//设置定时器
                        $.ajax(
                            {
                                url: "/setDatalasercutting/", //从setData函数中获取数据
                                type: "get",
                                data: "",
                                success: function (data1) {
                                    if ([data1["data5"]] > 2500) {
                                        alert("警告！")
                                    }
                                    line.addData(
                                        [data1["data5"]], //y轴，因 为同一个x轴可以有多个折线
                                        data1["time"]  //x轴
                                    );
                                    //保持x轴只有8个数据，要不随着时间推移x轴会越来越长
                                    var len = line.datasets[0].points.length;
                                    if (len > 5) {
                                        line.removeData()
                                    }
                                }
                            }
                        )

                    }, 1000)

                })
                $(function () {
                    var can = $('#imgpa').get(0).getContext('2d');

                    var canData = {
                        labels: ["0"], /*初始x轴数据*/
                        datasets: [
                            {
                                //折线的填充颜色
                                fillColor: "rgba(0,50,255,0.1)",
                                //线条颜色：
                                strokeColor: "rgba(0,50,255,1)",
                                //y轴初始数据：
                                data: [0],
                                legend: {
                                    data: ['功率变化']
                                },
                                scale: {
                                    xAxis: [{
                                        scaleLable: {
                                            display: true,
                                            labelString: '时间'
                                        }
                                    }],
                                    yAxes: [{
                                        scaleLable: {
                                            display: true,
                                            labelString: '功率P'
                                        }
                                    }]

                                }
                            }

                        ]
                    };
                    var line = new Chart(can).Line(canData);

                    var int = setInterval(function () {//设置定时器
                        $.ajax(
                            {
                                url: "/setDatalasercutting/", //从setData函数中获取数据
                                type: "get",
                                data: "",
                                success: function (data1) {
                                    if ([data1["data4"]] > 2500) {
                                        alert("警告！")
                                    }
                                    line.addData(
                                        [data1["data4"]], //y轴，因 为同一个x轴可以有多个折线
                                        data1["time"]  //x轴
                                    );
                                    //保持x轴只有8个数据，要不随着时间推移x轴会越来越长
                                    var len = line.datasets[0].points.length;
                                    if (len > 5) {
                                        line.removeData()
                                    }
                                }
                            }
                        )

                    }, 1000)

                })
                $(function () {
                    var can = $('#imgp').get(0).getContext('2d');

                    var canData = {
                        labels: ["0"], /*初始x轴数据*/
                        datasets: [
                            {
                                //折线的填充颜色
                                fillColor: "rgba(100,200,0,0.1)",
                                //线条颜色：
                                strokeColor: "rgba(100,200,0,1)",
                                //y轴初始数据：
                                data: [0],
                                legend: {
                                    data: ['功率变化']
                                },
                                scale: {
                                    xAxis: [{
                                        scaleLable: {
                                            display: true,
                                            labelString: '时间'
                                        }
                                    }],
                                    yAxes: [{
                                        scaleLable: {
                                            display: true,
                                            labelString: '功率P'
                                        }
                                    }]

                                }
                            }

                        ]
                    };
                    var line = new Chart(can).Line(canData);

                    var int = setInterval(function () {//设置定时器
                        $.ajax(
                            {
                                url: "/setDatalasercutting/", //从setData函数中获取数据
                                type: "get",
                                data: "",
                                success: function (data1) {
                                    if ([data1["data3"]] > 2500) {
                                        alert("警告！")
                                    }
                                    line.addData(
                                        [data1["data3"]], //y轴，因 为同一个x轴可以有多个折线
                                        data1["time"]  //x轴
                                    );
                                    //保持x轴只有8个数据，要不随着时间推移x轴会越来越长
                                    var len = line.datasets[0].points.length;
                                    if (len > 5) {
                                        line.removeData()
                                    }
                                }
                            }
                        )

                    }, 1000)

                })
                $(function () {
                    var can = $('#imgua').get(0).getContext('2d');

                    var canData = {
                        labels: ["0"], /*初始x轴数据*/
                        datasets: [
                            {
                                //折线的填充颜色
                                fillColor: "rgba(0,200,255,0.1)",
                                //线条颜色：
                                strokeColor: "rgba(0,200,255,1)",
                                //y轴初始数据：
                                data: [0],
                                legend: {
                                    data: ['功率变化']
                                },
                                scale: {
                                    xAxis: [{
                                        scaleLable: {
                                            display: true,
                                            labelString: '时间'
                                        }
                                    }],
                                    yAxes: [{
                                        scaleLable: {
                                            display: true,
                                            labelString: '功率P'
                                        }
                                    }]

                                }
                            }

                        ]
                    };
                    var line = new Chart(can).Line(canData);
                    var int = setInterval(function () {//设置定时器
                        $.ajax(
                            {
                                url: "/setDatalasercutting/", //从setData函数中获取数据
                                type: "get",
                                data: "",
                                success: function (data1) {
                                    if ([data1["data1"]] > 2500) {
                                        alert("警告！")
                                    }
                                    line.addData(
                                        [data1["data1"]], //y轴，因 为同一个x轴可以有多个折线
                                        data1["time"]  //x轴
                                    );
                                    //保持x轴只有8个数据，要不随着时间推移x轴会越来越长
                                    var len = line.datasets[0].points.length;
                                    if (len > 5) {
                                        line.removeData()
                                    }
                                }
                            }
                        )

                    }, 1000)

                })
                $(function () {
                    var can = $('#imgia').get(0).getContext('2d');
                    var canData = {
                        labels: ["0"], /*初始x轴数据*/
                        datasets: [
                            {
                                //折线的填充颜色
                                fillColor: "rgba(0,200,0,0.1)",
                                //线条颜色：
                                strokeColor: "rgba(0,200,0,1)",
                                //y轴初始数据：
                                data: [0],
                                legend: {
                                    data: ['功率变化']
                                },
                                scale: {
                                    xAxis: [{
                                        scaleLable: {
                                            display: true,
                                            labelString: '时间'
                                        }
                                    }],
                                    yAxes: [{
                                        scaleLable: {
                                            display: true,
                                            labelString: '功率P'
                                        }
                                    }]

                                }
                            }

                        ]
                    };
                    var line = new Chart(can).Line(canData);
                    var int = setInterval(function () {//设置定时器
                        $.ajax(
                            {
                                url: "/setDatalasercutting/", //从setData函数中获取数据
                                type: "get",
                                data: "",
                                success: function (data1) {
                                    if ([data1["data2"]] > 2500) {
                                        alert("警告！")
                                    }
                                    line.addData(
                                        [data1["data2"]], //y轴，因 为同一个x轴可以有多个折线
                                        data1["time"]  //x轴
                                    );
                                    //保持x轴只有8个数据，要不随着时间推移x轴会越来越长
                                    var len = line.datasets[0].points.length;
                                    if (len > 5) {
                                        line.removeData()
                                    }
                                }
                            }
                        )

                    }, 1000)

                })
            })
    </script>
</body>
</html>