{% extends "basepim.html" %}

{% block title %}Workpiece Information Manage{% endblock %}
{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <table class="table table-bordered">
    <tr>
        <th>工件ID</th>
        <th>工件名称</th>
        <th>工件类型</th>
        <th>工件材质</th>
        <th>工件数量</th>
        <th>加工设备</th>
        <th>生产工艺</th>
        <th>生产日期</th>
        <th>合格件数</th>
    </tr>
        {% for i in u %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
                <td>{{ i[5] }}</td>
                <td>{{ i[6] }}</td>
                <td>{{ i[7] }}</td>
                <td>{{ i[8] }}</td>
            </tr>
    {% endfor %}
    </table>

{% endblock %}