{% extends "basetimeline.html"%}
{% import "wtf.html" as wtf %}
{% block styles %}
    <link href="../static/css/com_have_backgound.css" rel='stylesheet' type='text/css' media="screen and (min-width: 480px)">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/phone_no_background.css" rel='stylesheet' type='text/css' media="screen and (max-width: 479px)">
{% endblock %}
{% block title %} 统计工件生产数量 {% endblock title %}
{% block page_content %}
<body>
<div class="page-header">
    <h1>请输入您想查询的日期</h1>
</div>
<div id="ribao">
        工件生产日/周报
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form)}}
</div>

    <table class="table table-bordered" style="font-size: 26px">
    <tr>
        <th>工件ID</th>
        <th>工件名称</th>
        <th>工件类型</th>
        <th>工件材质</th>
        <th>工件数量</th>
        <th>加工设备</th>
        <th>生产工艺</th>
        <th>生产日期</th>
    </tr>
        {% for i in wim %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.wtype}}</td>
                <td>{{ i.wmaterial }}</td>
                <td>{{ i.wnumber }}</td>
                <td>{{ i.equipment }}</td>
                <td>{{ i.crft }}</td>
                <td>{{ i.producedate }}</td>
            </tr>
    {% endfor %}
    </table>
    <table class="table table-bordered" style="font-size: 26px">
    <tr>
        <th>工件ID</th>
        <th>工件名称</th>
        <th>工件类型</th>
        <th>工件材质</th>
        <th>工件数量</th>
        <th>加工设备</th>
        <th>生产工艺</th>
        <th>生产日期</th>
    </tr>
         {% for i in wim1 %}
    <tr>
         <td>{{ i.id }}</td>
         <td>{{ i.name }}</td>
         <td>{{ i.wtype}}</td>
         <td>{{ i.wmaterial }}</td>
         <td>{{ i.wnumber }}</td>
         <td>{{ i.equipment }}</td>
         <td>{{ i.crft }}</td>
         <td>{{ i.producedate }}</td>
    </tr>
         {% endfor %}
    <div style="font-size: 26px">
        工件生产月报
    </div>
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
    $('#date1').datepicker({
        weekStart: 1,
        autoclose: true,
        daysOfWeekHighlighted: "0,6",
        format: "yyyy/mm/dd",
        language: "zh-CN"
    });
        $('#date2').datepicker({
        weekStart: 1,
        autoclose: true,
        daysOfWeekHighlighted: "0,6",
        format: "yyyy/mm/dd",
        language: "zh-CN"
    });
        $('#date3').datepicker({
        weekStart: 1,
        autoclose: true,
        daysOfWeekHighlighted: "0,6",
        format: "yyyy/mm",
        language: "zh-CN"
    });
        $('#date4').datepicker({
        weekStart: 1,
        autoclose: true,
        daysOfWeekHighlighted: "0,6",
        format: "yyyy/mm",
        language: "zh-CN"
    });

    </script>

{% endblock %}
{% endblock %}